.dirList {
	color: #fff;
	margin: 40px;
	line-height: 30px;

	font-family: 'Abel';
	font-size: 18px;
	li {
		padding: 0 20px;
		list-style-type: none;
	}
	li:nth-child(even) {
		background: @file-list-bg-color;
	}
		li:nth-child(odd) {
		background: @file-list-alt-bg-color;
	}
}

@media screen and (max-width: 768px) {
	.dirList {
		margin: 0;
		line-height: 50px;
		// font-size: 24px;
		background-color: white;
	}
}