.grid{
	list-style: none;

	color: #fff;
	font-family: 'Abel';
	.item{
		position: relative;
		float: left;

		width: 300px;
		height: 300px;

		padding: 5px;

		overflow: hidden;
		
		.transition(all 0.3s ease);
		.box{ // common style fox any type of box 
			display: block;
			position:  relative;

			width: 100%;
			height: 100%;
			
			overflow: hidden;
			.details{ // details for files
				position: absolute;
				bottom: 0;
				left: 0;

				width: 100%;

				padding: 0 10px;
				.title{ // titles of files
					width: 100%;
					
					padding: 0 0 15px 0;

					font-size: 26px;
					text-align: center;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
				.size{
					padding: 0 0 10px;
					
					font-size: 20px;
					text-align: center;
				}
			}
			.downloadButton{
				display: block;
				position: relative;
				left: 50%;

				width: 100px;
				height: 100px;

				margin-top: 65px;

				cursor: pointer;
				.transform(translateX(-50%,));
				&:before{
					content: '\e61b';
					position: absolute;
					top: 0;
					left: 0;

					width: 100%;
					height: 100%;

					font-family: 'ics';
					font-size: 100px;
					color: #fff;
				}
				&:hover{
					&:before{
						.animation(bounce 1s ease infinite);
					}
				}
			}
			&.photo{
				cursor: pointer;
				img{
					position: relative;
					left: 50%;
					.transform(translateX(-50%));
				}
				.hor{
					height: 100%;
				}
				.vert{
					max-width: 100%;
				}
			}
			&.download{
				background-color: @download-color;
				&.pdf{
					background-color: @pdf-color;
					.downloadButton{
						&:before{
							content: '\e607';
						}
					}
				}
				&.archive{
					background-color: @archive-color;
					.downloadButton{
						&:before{
							content: '\e60b';
						}
					}
				}
				&.executable{
					background-color: @exe-color;
					.downloadButton{
						&:before{
							content: '\e60d';
						}
					}
				}
			}
			&.video{
				background-color: @video-color;
			}
			&.music{
				background-color: @music-color;
				.play, .pause{
					position: absolute;
					top: 30%;
					left: 50%;

					width: 70px;
					height: 70px;

					background: transparent;
					border: 0px solid transparent;
					cursor: pointer;

					.transform(translate(-50%, -50%));
					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;

						width: 100%;
						height: 100%;

						font-family: 'ics';
						font-size: 70px;
						color: #fff;
					}
				}
				.play{
					display: block;
					&:before{
						content: '\e600';
					}
				}
				.pause{
					display: none;
					&:before{
						content: '\e601';
					}
				}
				.next{
					display: none;
				}
				.prev{
					display: none;
				}
				&.playing{
					.play{
						display: none;
					}
					.pause{
						display: block;
					}
				}
			}
			&.text{
				padding: 40px;

				background-color: #fff;

				font-size: 14px;
				line-height: 21px;
				color: @text-color;
				.title{
					width: 100%;
					
					padding: 5px 0 15px 0;

					font-size: 26px;
					text-align: center;
				}
				code{
					display: block;
					white-space: pre-wrap;
				}
				.fullContent{
					height: 100%;
					overflow: hidden;
				}
				.expand{
					position: absolute;
					bottom: 0;
					left: 0;

					width: 100%;
					height: 50px;

					background-color: #2498bf;
					cursor: pointer;
					&:before{
						content: '';
						position: absolute;
						top: -17px;
						left: 0;

						width: 100%;
						height: 20px;

						.background-image(linear-gradient(to bottom, rgba(36, 152, 191, 0) 0%, rgba(36, 152, 191, 1) 100%));
					}
					p{
						position: relative;
						float: left;

						margin-left: 10px;

						font-size: 22px;
						color: #fff;
						line-height: 45px;
						&:after{
							content: '\e63f';
							position: absolute;
							top: 2px;
							right: -35px;

							width: 30px;
							height: 30px;	

							font-family: 'ics';
							font-size: 25px;
						}
					}
				}
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;

				width: 150%;
				height: 150%;

				background-color: rgba(0, 0, 0, 0.10);
				.rotate(-90deg);
				.transform-origin(0 0);
				.transition(transform 0.3s linear);
			}
			&:hover{
				&:before{
					.rotate(0deg);
				}
			}
		}
		.overlay{
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.25);

			.opacity(0);
			&:before{
				content: "\e619";
				position: absolute;
				top: -50%;
				left: 50%;

				width: 60px;
				height: 60px;
				margin-top: -30px;
				margin-left: -30px;

				font-family: 'ics';
				font-size: 40px;
				line-height: 60px;
				text-align: center;
				color: #fff;

				background-color: rgba(0, 0, 0, 0.25);
				.border-radius(15px);
			}
		}
		&:hover{
			.overlay{
				.opacity(1);
				.transition(opacity 0.2s linear);
				&:before{
					top: 50%;
					.transition(top 0.2s ease);
					.transition-delay(0.15s);
				}
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.grid{
		.item{
			width: 50%;
			height: calc(100vw / 2); // to show 2 items per row

			margin: 0;
			padding: 2px;
		}
	}
}
@media screen and (max-width: 480px) {
	.grid{
		.item{
			.box{
				.details{
					.title{
						padding: 0 0 10px 0;

						font-size: 20px;
					}
					.size{
						font-size: 16px;
					}
				}
				.downloadButton{
					width: 70px;
					height: 70px;

					margin-top: 15px;
					&:before{
						font-size: 70px;
					}
				}
			}
		}
	}
}