.grid{
	list-style: none;

	color: #fff;
	font-family: 'Abel';
	.item{
		position: relative;
		float: left;

		width: 20%;
		height: calc(100vw / 5); // css feature, basically we give to height same value as width 
		padding: 2px;

		cursor: pointer;
		overflow: hidden;
		
		.box{ // common style fox any type of box 
			display: block;
			position:  relative;

			width: 100%;
			height: 100%;

			overflow: hidden;
			
			.details{ // details for files
				position: absolute;
				bottom: 0;
				left: 0;

				width: 100%;

				padding: 0 10px;
				.title{ // titles of files
					width: 100%;
					
					padding: 0 0 15px 0;

					font-size: 26px;
					text-align: center;
				}
				.size{
					padding: 0 0 10px;
					
					font-size: 20px;
					text-align: center;
				}
			}
			&.photo{
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			&.download{
				background-color: #FF530D;
			}
			&.video{
				background-color: #FFD01E;
			}
			&.mp3{
				background-color: #42FF27;
			}	
		}
		.overlay{
			position: absolute;
			top: -100%;
			left: 0;

			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.25);
			&:before{
				content: "\e60f";
				position: absolute;
				top: 50%;
				left: 50%;

				width: 60px;
				height: 60px;
				margin-top: -30px;
				margin-left: -30px;

				font-family: 'ics';
				font-size: 40px;
				line-height: 60px;
				text-align: center;
				color: #fff;

				background-color: rgba(0, 0, 0, 0.25);
				.border-radius(15px);
			}
		}
		&.selected{ // when this class is activated 
			clear: both;
			float: none;

			width: 100vw;
			height: 100vh;

			background-color: @box-bg-color;
			.transition(all 0.3s ease);
			.box{
				.overlay{
					display: none;
				}
				&.photo{
					background-size: contain;
				}
			}
			img {
				margin: auto;
			}
		}
		&:hover{
			.overlay{
				top: 0;
				.transition(top 0.25s ease);
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.grid{
		.item{
			width: 25%;
			height: calc(100vw / 4); // to show 4 items per row
		}
	}
}

@media screen and (max-width: 768px) {
	.grid{
		.item{
			width: 33.33333%;
			height: calc(100vw / 3); // to show 3 items per row
		}
	}
}

@media screen and (max-width: 480px) {
	.grid{
		.item{
			width: 50%;
			height: calc(100vw / 2); // to show 2 items per row
		}
	}
}