/*  Colors  */

@bg-color: #101A24; // background color 
@box-bg-color: #393939; // box background color 
@file-list-bg-color: #202A34;
@file-list-alt-bg-color: #303A44; // background color

@download-color: #FF530D;
@music-color: #42FF27;
@video-color: #FFD01E;
@text-color: #888;

@test-blue: #0078FF;

/* Files type colors */

@pdf-color: #C11E07;
@archive-color: #9D49A1;
@zip-color: #53B32B;
@exe-color: #D1B61C;
